
@{
    ViewBag.Title = "Batteries | Bobs Tyres Ltd";
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
}

@section pageTitle{
    Batteries
}

@section pageBody{
    <p>Car battery failure is probably one of the most common causes of breakdown.  In winter months especially, a great deal of strain is put on car batteries forcing them to work harder.</p>
    <p>Checking the condition of your car battery charging system is a service available here at Bobs Tyres Ltd and Garage Services.</p>
    <p>This simple but effective test, which includes checking the charging system, will provide a clear indication as to the condition of the battery. So, if you have any concerns regarding the condition of your car battery then we recommend you have the battery and charging system checked as soon as possible.</p>
    <p>Your car battery is the only power source used for getting your car started and faulty batteries are one of the main reasons for breakdown calls in the UK. Industry sources say that 1/10 vehicle batteries are poised to fail. So it is important that you maintain a good healthy battery if you are to avoid becoming a roadside ‘breakdown’ statistic.</p>
    <p>Here at Bobs we carry a large range of batteries to fit many makes and models of motorcycle, car, light commercial and agricultural vehicles.</p>

}

@section bannerTop{
    For more information on the range of batteries we carry contact us
}
@section bannerBottom{
    Our friendly staff will be more than happy to guide you in the right direction
}