
@{
    ViewBag.Title = "Exhausts | Bobs Tyres Ltd";
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
}

@section pageTitle{
    Exhausts
}

@section pageBody{
    <p>A healthy exhaust system is critical if you are to maintain the health and welfare of the vehicle occupants, a quiet smooth running engine and optimum fuel efficiency. Here at Bobs Tyres Ltd and Garage Services we can repair and replace exhaust systems, catalytic converters and diesel particulate filters on most cars, 4x4’s and light commercial vehicles. Our suppliers stock a massive selection of exhaust systems for most vehicles and the majority is available for same day delivery.</p>
    <p>If you have any concerns regarding the health of your vehicles exhaust system then call in for a free safety check today.</p>
    <div class="row" id="exhaustImages">
        <div class="col-md-4">
            <img src="~/Content/Images/bosal_logo.jpg" />
        </div>
        <div class="col-md-4" style="margin-top: 75px">
            <img src="~/Content/Images/8f50876fde603cb6bd9cd97562b2452b_f618.png" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/carservicingchester.seesites.biz_--_882320879.jpg" />
        </div>
    </div>
}

@section bannerTop{
    Please contact us for more information and advice on exhausts
}
@section bannerBottom{
    Our staff will be happy to help you
}
