
@{
    ViewBag.Title = "Kumho Tyres Facts | Bobs Tyres Ltd";
}
<a href="@Url.Action("Kumho_Tyres", "Services")"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back To Kumho Tyres</a>
<a href="@Url.Action("Kumho_Warranty", "Services")" style="float: right"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Accidental Damage Warranty</a>
<div class="kumhoTitle" style="text-align: center; color: #165121">
    <a href="http://www.kumhotyre.com"><img src="~/Content/Images/Kumho-Logo-2016-1.png" /></a>
    <h1>9 Facts About Kumho Tyres</h1>
</div>
<br />
<h4>
    <ol>
        <li>One of the world's top ten tyre manufacturers. Kumho means beautiful, calm lake</li>
        <li>Part of a much larger group of companies including an international airline, Asiana, a construction company and logistics, petrochemicals and finance operations</li>
        <li>Produces nearly 60 million tyres a year at its factories in Korea, China and Vietnam for cars, 4x4s, vans and trucks</li>
        <li>You can buy a Kumho tyre in around 180 countries in the world</li>
        <li>To ensure its tyres meet the needs of the market, Kumho has R&D centres on three continents including one based at Birmingham in the UK</li>
        <li>Original equipment supplier to Chevrolet, Chrysler, Hyundai, Kia, Mercedes Benz, Mitsubishi, Smart, Ssangyong and Volkswagen</li>
        <li>The leading supplier of tyres for Formula 3 racing and a class winner at the Le Mans 24 Hours in 2007</li>
        <li>Demonstrating its advanced motor sport technology, Kumho has successfully developed a tyre for F1</li>
        <li>Kumho tyres are available from a nationwide network of ECSTA Performance Centres.</li>
    </ol>
</h4>

