
@{
    ViewBag.Title = "Kumho_Warranty";
}

<a href="@Url.Action("Kumho_Tyres", "Services")"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back To Kumho Tyres</a>
<a href="@Url.Action("Kumho_Tyres_Facts", "Services")" style="float: right"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Nine Facts About Kumho Tyres</a>
<div class="warrantyTitle" style="text-align: center; color: #165121">
    <h1>Kumho Tyre Accidental Damage Warranty</h1>
    <h3>Peace of mind motoring with Bobs Tyres Ltd and Kumho Tyres</h3>
</div>
<br />
<div id="pageInfo">
    <h4>
        <p>Using the most advanced manufacturing technologies available ensures that the Kumho product is of the highest standard. Every Kumho Tyre undergoes the most stringent of testing to ensure the highest quality.</p>
        <p>Here at Bobs Tyres we can offer a Kumho accidental damage warranty on selected Kumho Tyres. This means if your tyre is damaged beyond repair, then the defective tyre will be replaced and you will only be charged for the proportion of tread that you have already used.</p>
        <p>Please give us a call to discuss or pick up a leaflet in branch for terms and conditions.</p>
    </h4>
</div>
<div style="text-align: center">
    <a href="http://www.kumhotyre.com"><img src="~/Content/Images/Kumho-Logo-2016-1.png" /></a>
</div>



