
@{
    ViewBag.Title = "Kumho Tyres | Bobs Tyres Ltd";
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
}

@section pageTitle{
    Kumho Tyres
}

@section pageBody{
    <p>Bobs Tyres Ltd and Garage Services are proud to be associated with Kumho Tyres and to be part of the ECSTA Performance programme. As part of this we are now always able to guarantee our customers the best possible service and price when choosing to purchase anything from the Kumho range whether it be for your car, 4x4, van or truck. Kumho are now the OEM fitments on VW, Mercedes-Benz, Chrysler, Chevrolet, Mitsubishi, KIA, Smart, Hyundai and SsangYong</p>
    <p>Just give us a call for more information and pricing.</p>
    <p>We stock a large range of Kumho tyres and are happy to make recommendations on specific suitable fitments for your vehicle. Please contact us for full information.</p>
    <p>For details on all Kumho tyre tread designs and technical information please visit:</p>
    <p style="text-align: center"><a href="http://www.kumhotyre.co.uk">www.kumhotyre.co.uk</a></p>
    <p>Although kumho tyres have been around for quite some time now, the company is only just receiving the recognition it deserves.</p>
    <div class="pdflinks" style="text-align: center">
        <a href="@Url.Action("Kumho_Tyres_Facts", "Services")"><img src="~/Content/Images/Kumho-Logo-2016-1.png" /></a>
        @Html.ActionLink("Accidental Damage Warranty", "Kumho_Warranty", "Services", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Nine Facts About Kumho Tyres", "Kumho_Tyres_Facts", "Services", null, new { @class="btn btn-primary"})
    </div>
}

@section bannerTop{
    If you'd like more information or pricing on Kumho Tyres please contact us on
}
@section bannerBottom{
    We are happy to make recommendations on specific suitable fitments for your vehicle
}
