
@{
    ViewBag.Title = "MOT's";
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
}

@section pageTitle{
    MOT's
}

@section pageBody{
    <p>If you have a vehicle that is more than three years old, it will need an MOT test each year to ensure that it meets at least the minimum road safety and environmental standards.</p>
    <p>Here at Bobs we can take the stress out of getting your annual MOT test. Leave your Class 4, 5 or 7 MOT with us and we shall endeavour to carry out any repairs necessary and obtain a Test Certificate for you.</p>
    <p>We will <b>always</b> contact you and give you a price for the work required <b>before</b> we continue with the repair.</p>
    <p>Why not save time and money and have your vehicle serviced and MOT'd at the same time. We have courtesy cars available so you can drop your car off and continue with your day with a minimum of disruption!</p>
    <div class="pdflinks" style="text-align: center">
        Not sure when your MOT is due?  Use the links below to find out.
        <a href="https://www.gov.uk/check-mot-history" class="btn btn-default">Check Your Vehicle MOT History</a>
        <a href="https://www.gov.uk/check-mot-status" class="btn btn-default">Check Your Vehicle Status</a>
    </div>
}

@section bannerTop{
    Please contact us to book your service, MOT and courtesy car
}
@section bannerBottom{
    We will <b>always</b> contact you and give you a price for the work required <b>before</b> we continue with the repair
}
