
@{
    ViewBag.Title = "Repairs";
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
}

@section pageTitle{
    Vehicle Repairs
}

@section pageBody{
    <p>Our workshop is able to undertake all aspects of repairs to your vehicle. We are equiped to repair most makes of vehicle and have a wealth of experience on all brands. We have the equipment and trained technicians to diagnose and repair most engine management faults.</p>
    <p>After many years of repairing and servicing vehicles, we have learnt to stick with what we know, For this reason we only install trusted parts matching original equipment (O.E) specification from known manufacturers.</p>
    <p>Some of our competitors may offer you a cheaper quote to repair your vehicle, this is usually due to the use of cheaper parts being installed that do not match the original equipment specification. So we therefore advise all customers to question the quality before deciding on who you use to carry out the required repair, you only get what you pay for.</p>
    <p>Free courtesy cars available to help minimise the disruption caused by your vehicles repair.</p>
}

@section bannerTop{
    For any further advice on repairing your vehicle please contact us
}
@section bannerBottom{
    We have free courtesy cars available to help minimise the disruption caused by your vehicles repair
}
