
@{
    ViewBag.Title = "Tow Bars";
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
}

@section pageTitle{
    Tow Bars
}

@section pageBody{
    <p>Here at Bobs Tyres Ltd and Garage Services our technicians can fit tow bars to a massive range of cars, 4x4’s and light commercial vehicles.</p>
    <p>We supply and fit the Anker Tow bars range of quality tow bars and accessories.</p>
    <p>From 13 pin Euro sockets for the latest caravans to 7 pin “N” sockets for small trailers our qualified technicians can fit and connect all your electrical towing accessories.</p>
    <p>The Department for Transport has added a number of new mandatory test items to the annual MOT from 1 January 2012 to comply with a revised European testing directive. Trailer and caravan electrical sockets are one of these items.</p>
    <p>There will be a basic security/damage check of 7-pin sockets, 13-pin sockets will be subject to a full electrical connectivity check and incorrectly connected or inoperative circuits will result in failure of the MOT test.</p>
    <p>Contact us for more information and advice on tow bars and our staff will be happy to help.</p>
}

@section bannerTop{
    If you would like any further information on tow bars please contact us
}
@section bannerBottom{
    Contact us for more information and advice on tow bars and our staff will be happy to help
}
