
@{
    ViewBag.Title = "Tyres";
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
}

@section pageTitle{
    Tyres
}

@section pageBody{
    <p>Whatever vehicle you drive, from a small city car to a Commercial vehicle or tractor, they all have one thing in common; the tyres are the only part in contact with the road. It is therefore crucial to ensure that they are in good condition as poor condition tyres can be dangerous, illegal, waste fuel and invalidate your car insurance.</p>
    <p>Here at Bobs we offer a quality tyre-fitting service with a quick turnaround and great value for money for all your car, commercial and aggricultural tyre needs.</p>
    <p>Our experienced tyre-fitting team will guide you to the best choice of tyre from our wide range of premium and budget tyres.</p>
    <p>We stock all the major tyre brands including Kumho, Pirelli, Bridgestone, Continental, Michelin, Goodyear and Dunlop, with next day delivery for most non-stock items.</p>

    <div class="pdflinks" style="text-align: center">
        Extra Information
        <br />
        @Html.ActionLink("Important Information To Know", "Tyres_ThingsToKnow","Services", null, new { @class="btn btn-primary"})
        @Html.ActionLink("Kumho Tyres", "Kumho_Tyres", "Services", null, new { @class = "btn btn-primary" })
    </div>
    <div class="tyres">
        <img src="~/Content/Images/goodyear.png" />
        <img src="~/Content/Images/continental_logo_yellow_srgb_png-data_1391442108.jpg" />
        <img src="~/Content/Images/falken-tires-1.jpg" />
        <img src="~/Content/Images/Michelin.svg.png" />
        <img src="~/Content/Images/pirelli.png" />
    </div>

}

@section bannerTop{
    If you would like any further advice on servicing please contact us
}
@section bannerBottom{
    Our friendly staff will be more than happy to assess your servicing requirements and guide you in the right direction
}
