body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 120px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-nav > li:hover{
    background-color: #165121;
}

#break{
    height: 15px;
}

/*ABOVE NAVBAR*/

.navtop{
    background-color: white;
    padding-bottom: 5px;
}

#navtopContainer{
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

#contactBanner{
    text-align: right;
    padding-right: 15px;
}

#openingHrs{
    margin-left: 15px;
}

#hours{
    font-size: 12px;
}

#locationBanner{
    font-size: 12px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}
#bannerTitle{
    font-size: 13px;
    font-weight: bold;
    color: #165121;
    
}
#contactNumber{
    font-size: 26px;
}

#contactInfomationGroup{
    padding-top: 20px;
}

/*INDEX PAGE BANNER*/
.body-content
.bannerImg {
    width: 100%;
}

.bannerImg img {
    display: block;
    max-width: 100%;
}

.text {
    border: 1px solid red;
}

.bannertext{
    position: absolute;
    top: 200px;
    left: 7%;
    width: 86%;
    color: white;
    text-align: center;
}

#googleText{
    font-family: 'Kalam', cursive;
}

/*INDEX BOX TILES*/
#boxTile{
    background-color: #165121;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-right: 5px;
}

#boxDesc{
    height: 70px;
}

#secRow{
    background-color: #efefef;
    text-align: center;
    padding-bottom: 20px;
}

/*LATEST NEWS BANNER*/
.news{
    display: none;
    border: 1px solid #165121;
    background-color: white;
}
.news1{
    display: block;
}

#latestNews ul{
    padding: 0;
}

#newsImage{
    height: 250px;
}

#newsImage img{
    height: 90%;
    max-width: 90%;
    vertical-align: bottom;
}

#newsDescription{
    height: 60px;
}

#findoutmore{
    padding-bottom: 10px;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    padding: 16px;
    margin-top: -50px;
    color: #165121;
    font-weight: bold;
    font-size: 100px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

#latestNews input {
    display: none;
}

.nav-dots{
    width: 95%;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}

.nav-dots .nav-dot{
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,0.6);
}
.nav-dots .nav-dot:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.8);
}

/*STAR RATING*/
.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}


.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}


.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('../Content/Images/star-off.svg');
  background-size : contain;
}


.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('../Content/Images/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}


.starRating:not(old) > label:hover:before,

.starRating:not(old) > label:hover ~ label:before,

.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}
